player1_output.txt
player2_output.txt
player3_output.txt
player4_output.txt
player5_output.txt
player6_output.txt
player7_output.txt
player8_output.txt
deck1_output.txt
deck2_output.txt
deck3_output.txt
deck4_output.txt
deck5_output.txt
deck6_output.txt
deck7_output.txt
deck8_output.txt
test_out.txt